$primaryFont: 'Josefin Slab', serif;
@import "setup";



body {
	background: white;
	font-size: 20px;
	font-family: $primaryFont;
	font-weight: 300;
}

header {
	background: url(../../assets/background.jpg);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 9;
	transition: all 1s;
	color: white;
	h1 {
		margin: 80px 5% 0 5%;
		font-size: calc(70px + (220 - 70) * ((100vw - 320px) / (1920 - 320)));
		font-weight: 700;
	}
	h2 {
		margin: 0 0 0 5%;
		font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));
	}
}



//BUTTON STYLE STARTS BUTTON STYLE STARTS
button, input {
	outline: none;
}

button {
	color: white;
	background: black;
	font-size: 3rem;
	border-radius: 10px;
	border: none;
	padding: 10px 30px;
	transition: all 0.3s;
	&:hover, &:active {
		transform: scale(0.97);
	}
}

button#startBtn {
	margin: 0 auto;
	display: block;
	position: absolute;
	bottom: 18%;
	left: 50%;
	transform: translate(-50%);
	&:hover, &:active {
		transform: translate(-50%) scale(0.97);
	}
}

#prevBtn, #nextBtn {
	background: transparent;
	color: black;
	position: absolute;
	top: 50%;
}

#prevBtn {
	left: 12%;
}

#nextBtn {
	right: 12%;
}

.submitResetBtn {
	position: absolute;
	bottom: 9%;
	left: 50%;
	transform: translate(-50%);
}

#submit, #retake, #closeBtn {
	font-size: 1.3rem;
	margin: 0 5px;
}
//BUTTON STYLE ENDS BUTTON STYLE ENDS



//FORM SECTION STYLE STARTS
.slide {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s;
	z-index: 1;
	opacity: 0;
	& > * {
		text-align: center;
	}
	.choices {
		font-size: 3rem;
		label {
			margin: 0 15px;
		}
	}
}

.question {
	.questionTitle {
		margin: 30px 0 10px 0;
	}
	.ansDescription {
		margin: 10px 0 30px 0;
		color: black;
		span {
			font-style: italic;
			font-weight: 600;
		}
	}
}

.fa-circle-o, .fa-times {
	font-size: 2rem;
}

#results {
	font-size: 4rem;
	font-weight: 600;
	padding: 3% 5%;
}

.resultsSummary {
	border: 1px solid black;
	color: white;
	background: rgba(0,0,0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	font-size: 2rem;
	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.resultsSummary__item {
			margin-bottom: 10px;
		}
	}
	#closeBtn {
		background: transparent;
		padding: 0;
		font-size: 3.5rem;
		position: absolute;
		top: 25px;
		right: 40px;
	}
}
//FORM SECTION STYLE ENDS



//JAVASCRIPT TOGGLE CLASSES START
.active-slide {
	opacity: 1;
	z-index: 2;
}

.correct {
	color: green;
}

.wrong {
	color: red;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.startReveal {
	transform: translateY(-2000px);
}
//JAVASCRIPT TOGGLE CLASSES END




@media (max-width: 970px) {
	#prevBtn {
		left: 3%;
	}
	#nextBtn {
		right: 3%;
	}
	.slide .choices {
		font-size: 2rem;
		label {
			margin: 0 8px;
		}
	}
	#submit, #retake {
		margin: 0 2px;
	}
}

@media (max-width: 725px) {
	#prevBtn, #nextBtn {
		font-size: 2rem;
		padding: 0;
	}
	.slide .choices {
		font-size: 1.2rem;
		label {
			margin: 0 4px;
		}
	}
	.submitResetBtn {
		bottom: 2%;
	}
	#submit, #retake {
		width: 130px;
		font-size: 1.1rem;
		padding: 8px 18px;
		display: block;
		margin: 10px auto;
	}
}

@media (max-width: 470px) {
	.slide {
		width: 230px;
	}
	img {
		width: 150px;
	}
	#prevBtn, #nextBtn {
		font-size: 1.5rem;
	}
	.question {
		.questionTitle {
			margin: 5px 0;
			.fa-circle-o, .fa-times {
				font-size: 1.5rem;
			}
		}
		.ansDescription {
			display: none;
		}
	}
	.resultsSummary {
		font-size: 1.5rem;
		.container .resultsSummary__item {
			margin-bottom: 3px;
		}
		#closeBtn {
			font-size: 2.5rem;
			top: 8px;
			right: 12px;
		}
	}
}